@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@402&display=swap');
body{
    background-image: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
} 

#title
{
    color:rgb(9, 70, 110);;
    position:relative;
    font-size:3.5rem;
    text-align: center;
    background:linear-gradient(#66c2ff, #ffcccc, #ffeee6);;
    margin:auto;
    border-radius:10px;
    padding:1rem;
}

@media(max-width:300px)  
{
  #title
  {
   font-size:2.5rem;      
  }  
}


#image{
    max-width:100%;
    max-height:100%;
    height:auto;
    width:auto;
}

#img-div{
    display:block;
    margin-left:10%;
    margin-top: 30px;
    padding:10px;
    border-style:groove;
    background:grey;
}

#img-caption
{
  font-size: 1rem;
  text-align:center;
  font-family: 'Raleway',sans-serif;  
}

@media(max-width:300px)
{
    #img-div
    {
        width:400%;
    }
}

#tribute-info
{
  margin: 25px 0px 25px 0px;  
  background:linear-gradient( #66c2ff, #ffcccc, #ffeee6);
  color:rgb(48, 45, 12);
  font-size:medium;
  padding:0.5rem;
  border-radius: 25px;
}

#tribute-info .Timeline
{
    font-size: 36px;
    text-decoration:underline;
    text-align:center;
    color:rgb(29, 6, 6);
}
#tribute-info .about
{
    font-size: 36px;
    text-decoration:underline;
    text-align:center;
    color:rgb(114, 33, 8);
}

#tribute-info #paragraph1
{
  font-size:1rem;
  text-align:center;  
  color:black;
}

#tribute-info #work
{
    font-size:18px;
    margin: 5%;
    color:rgb(61, 5, 5);
    
}

.best_work
{
    margin-top:15%;
    text-align:center;
    font-family: 'Raleway',sans-serif;
}

#team 
{
    max-width:100%;
    max-height:100%;
    height:auto;
    width:auto;
    margin:auto;
}

#astro
{
 display:block;
 width:35%;
 margin:auto;
 padding:10px;
 border-style:groove;
 background:grey;
}

.C2
{
  text-align:center;
  color:lightsalmon;
  font-family: 'Raleway',sans-serif;
}

@media(max-width:300px)
{
    #astro
    {
        width:400%;
    }
}

#tribute-link
{
 margin-top:5%;   
 text-align:center;
 font-size:1.5rem;
}

.link
{
    color:mediumvioletred;
}
.link:hover
{
  color:limegreen;
}

.link:visited
{
    color:mediumslateblue;
}


